<h1>Dashboard</h1>

<p *ngFor="let number of numbers">
  <span>{{number}}</span>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet dictum tortor. Nullam non metus nec mi
  venenatis gravida quis vel justo. Nam eu efficitur ante, vel feugiat eros. Aliquam sit amet libero id diam tempus
  sodales ac eget mauris. Integer pharetra molestie tortor, quis congue justo facilisis vel. Nullam consequat mattis
  tellus, at ultrices neque posuere et. Ut laoreet consectetur erat, sit amet interdum ex ornare a.
</p>
